.App {
  font-family: sans-serif;
  margin: auto;
  padding: 1rem;
}

hr {
  margin: 1rem;
}

.container {
  padding: 1rem 5rem;
}

.container-center {
  max-width: 500px;
  margin: auto;
}

.card {
  padding: 0.5rem;
  color: black;
  background-color: #e5e7eb;
  border-radius: 0.5rem;
  text-align: center;
  width: 70%;
  border: 1px solid #d1d5db;
}

.inlineList {
  display: inline;
  padding: 0.5rem;
}

.dropDown {
  padding: 0.2rem;
  list-style-type: none;
}

button {
  background-color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 1rem;
  border: 1px solid black;
  padding: 0.3rem;
  margin: 0.2rem;
}
